.team-member {
    margin: 8px;
    transition: all .3s ease;
    cursor: pointer;
    text-align: center;


    p {
    margin: 10.1px;
    }	

}

.team-member:hover {
    transform: scale(1.1);
}

.team-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.team {
    margin: 69.5px;	

}

